# 1. 문자열 메소드 활용하기

## 1.1 변형

### .capitalize(), .title(), .upper()

`.capitalize()` : 가장 앞글자를 대문자로 만들어 반환(return)합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
words = "happy, to you"
# 아래에 코드를 작성하세요.

In [ ]:
words.capitalize()

In [2]:
i = words.title()
print(i)
print(type(i))

Happy, To You
<class 'str'>

### .lower(), .swapcase()

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [ ]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [ ]:
words.lower()
words.swapcase()

### .join(iterable)

Iterable한 객체를 해당 문자열의 separator 로 합쳐서 문자열로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'!'.join('배고파')

In [ ]:
# 이렇게도 사용할 수 있겠죠?

In [ ]:
words = ['hi','hello']
''.join(words)
print(type(''.join(words)))
print(words)
words = '1,2,3,4,5,6,7,8,9'
words = words.split(',')
print(words)
print(type(words))
words = ':'.join(words)
print(words)
print(type(words))

### .replace(old, new[, count])

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'yay!'.replace('a', '_')
'abcdefggg'.replace('ggg','ghi')

In [ ]:
'wooooowoo'.replace('o','',2)  #앞에서 부터 n개만 바꾸게 됩니다. n이 없으면 다 없어집니다~
'Hi! Justins'.replace('s' and 'J','')

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.(공백제거)

In [3]:
'           oh!\n           '.strip()

'oh!'

In [4]:
'           oh!\n           '.lstrip()

'oh!\n           '

In [5]:
'           oh!\n           '.rstrip()

'           oh!'

In [ ]:
# 아래에 코드를 작성하세요.(단어제거)

In [6]:
'hihihihihih'.strip('hi')

''

In [7]:
'hihihihihihehehihihihihi'.strip('hi')

'ehe'

In [8]:
'hihihihihihehehihihihihi'.lstrip('hi')

'ehehihihihihi'

In [9]:
'hihihihihihehehihihihihi'.rstrip('hi')

'hihihihihihehe'

## 1.2 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'apple'.find('l')
print(type('apple'.find('l')))

In [ ]:
'apple'.find('f')

In [ ]:
'apple'.find('p')

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'apple'.index('l')

In [ ]:
'apple'.index('f')

## .split() >  반환값 : list

- 괄호 안에 특정 값이 있으면 그 값을 구분자로 해서 문자열을 나눠 리스트로 반환합니다.
- 괄호 안에 아무 값도 넣어주지 않으면 공백(스페이스, 탭, enter)을 기준으로 문자열을 나눠 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'abc def'.split()

In [ ]:
'a_b_c'.split('_')

In [ ]:
words = input('입력하세요:').split()
print(words)

## 1.3 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha() 글자니? 공백도 안돼
, .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isuper(), 
.istitle() 
, .islower()
```

```python
dir('string')
```

In [ ]:
dir('string')

In [ ]:
a = 'hihihihijustin'
b = 'Hi! Justin'
c = '한글'
print(a.isalpha())
print(b.isalpha())
print(c.isalpha())

In [ ]:
a = 'Hi!, My name is Justin!'
print(a.islower())#적어도 소문자가 1개 있다 and 대문자가 없다
a.lower()
b = '밥a'
b.islower()

In [ ]:
a = 'Hi!, My name is Justin'
print(a.isupper())
b = 'HI!, MY NAME IS JUSTIN'
print(b.isupper())

In [ ]:
a = 'Hello, World'
print(a.istitle())
b = 'Hello world'
print(b.istitle()) # 맨 앞 글자, , 등 뒤 대문자


# 2. 리스트 메소드 활용하기

## 2.1 값 추가 및 삭제

### .append(x)

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

In [ ]:
# 값을 추가해봅시다.

In [ ]:
caffe.append('caffebene')
print(caffe)

In [ ]:
caffe[len(caffe):] = ['ediya']
print(caffe[len(caffe):])
print(caffe)
# 어렵게 넣어보도록 해봅시다.

### .extend(iterable)

- 리스트에 iterable(list, range, tuple, string*유의*) (포문 안에 넣어서 값 꺼낼수있는거)값을 붙일 수가 있습니다.

    - `iterable` 은 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기 속합니다. for문을 돌렸을 때 하나씩 튀어나오는 친구들!

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [ ]:
caffe.extend(['droptop', '빽다방'])
print(caffe)

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [ ]:
caffe = ['mccafe', 'burgerking']
print(caffe)

In [ ]:
# append와 비교해봅시다.

In [ ]:
# .append vs .extend

#.append
caffe.append(['coffenie'])
print(caffe)# 객체 자체가 들어가게 됩니다.

#.extend
caffe.extend(['coffeingurunaru'])
print(caffe) #

In [ ]:
L = [1, 2, 3]

#1 > 기존 리스트에  추가한 후 새로 리스트를 만든다
L = L + [4]
#2 > 기존 리스트에 4만 추가 합니다.
L.append(4)

### .insert(i, x)

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [ ]:
caffe.insert(0,'Hi')
print(caffe)

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [ ]:
caffe.insert(-1,'bye')
print(caffe)

In [ ]:
caffe.insei', 'Hi', 'mccafe', 'burgerking', 'droptop', '빽다방', 'caffebene', 'ediya', ['coffenie'], ['coffenie'], ['coffenie'], 'bye', 'coffeingurunaru']
caffe
crt(len(caffe),'bye')
print(caffe)

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막 붙습니다!

In [ ]:
caffe.insert(234684931,'내가 제일 뒤')
print(caffe)

In [ ]:
samples = [1, 2, 3, 4, 5]
samples.insert(5, 6)
print(samples)

### .remove(x)

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [ ]:
numbers.remove(1)
print(numbers) #앞을 기준으로 먼저 나오는 1을 삭제 합니다.

In [ ]:
# 한번 더 삭제해봅시다.

In [ ]:
numbers.remove(1)
print(numbers)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [ ]:
numbers.remove(1)

### .pop(i)

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [ ]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [ ]:
print(numbers.pop(0))
print(numbers)
print(numbes.pop())

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [ ]:
numbers = [1, 2, 3]
delete_value  = numbers.pop()
print("{}가 삭제되어, {}가 되었습니다.".format(delete_value, numbers))

## 2.2 탐색 및 정렬

### .index(x)

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

In [ ]:
numbers.index(3) #3 값이 어디에 있니?

In [ ]:
numbers.index(100)

### .count(x)

원하는 값의 개수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [ ]:
numbers.count(1)

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [ ]:
numbers = [1, 2, 1, 3, 4]
target_number = 1

for i in range(numbers.count(target_number)):
    numbers.remove(target_number)

In [ ]:
target_number in numbers

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

### .sort()

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [ ]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

In [ ]:
# sort를 사용해봅시다.

In [ ]:
lotto_result = lotto.sort()
print(lotto_result)
print(lotto)

lotto.sort(reverse=True)
print(lotto)

In [ ]:
# sorted를 사용해봅시다.

In [ ]:
numbers = [2, 5, 4, 1, 7, 5]
result = sorted(numbers)
print(numbers)  #원본
print(result) # return

### .reverse()

반대로 뒤집습니다. (정렬 아님) > 기존에 있던걸 그냥 반대로 뒤집습니다.

In [ ]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

In [ ]:
classroom.reverse()
print(classroom)

In [ ]:
#.reverse
numbers = [1, 2, 3]
result = numbers.reverse()
print(numbers)
print(result)

#reversed
result = reversed(numbers)
print(list(result))
print(numbers)

In [ ]:
#Slicing 실습

words = ['T', 'h', 'e', '', 'A', 'v', 'e', 'n', 'g', 'e', 'r', 's']
print(words[0:2])

In [ ]:
print(words[0:4])

In [ ]:
words[0:11]

In [ ]:
words[-8:-1]

In [ ]:
words[-12 :-9]

In [ ]:
words[-1:-8:-1]

## 2.3 복사

In [ ]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [ ]:
copied_list = original_list
print(copied_list)

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [ ]:
copied_list[0] = 5
print(copied_list)
print(original_list) #나는 copied만 바깟는데 original도 바뀌엇네

In [ ]:
# id 값을 확인해봅시다.

In [ ]:
print(id(original_list) == id(original_list))
print(copied_list is original_list)

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
a = 20005
b = a
b = 30005
print(a)
print(b) #숫자는 imutable(변경불가능)

In [ ]:
# 문자를 확인해봅시다.

In [ ]:
word_a = 'hihi'
word_b = word_a
word_b ='byebye'
print(word_a)
print(word_b) #문자도 immutable하기때문에 객체 참조 방식이 list와 다릅니다.

In [ ]:
# 딕셔너리도 확인해봅시다.

In [ ]:
lunch = {'김밥천국': '치즈라면', '김가네': '제육볶음'}
print(lunch)
dinner = lunch
dinner['김밥천국'] = '참치김밥'
print(dinner) 
print(lunch) # 딕셔너리는 mutable이기때문에 list와 마찬가지로 같은 것을 참조하게된다(복사)

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 아래에 작성하세요.

In [ ]:
# 리스트를 복사해봅시다.

In [ ]:
a = [1, 2, 3]
b = a 
b[0] = 5 
print(a)
print(b) #list는 mutable이기 때문에 b=a라고하면 같은 것을 참조하게 됩니다.

In [ ]:
# 다른 방법으로 복사해봅시다.

In [ ]:
a = [1, 2, 3]
b = a[:] #slicing은 새로운 리스트를 만드는것이기때문에 새로운 것을 각자 참조하게 됩니다.
b[0] = 5 
print(a)
print(b)

In [ ]:
a = [1, 2, 3]
b = list(a)
b[0] = 5
print(a)
print(b)

In [ ]:
# 이런 방법도 있어요

In [ ]:
a = [1, 2, 3]
b = a.copy()
b[0] = 5
print(a)
print(b)

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [ ]:
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 3 
print(a)
print(b)  # 둘 다 바뀐다.  > shallow copy (sling, list, copy 등)

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [ ]:
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a)
print(b)

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

# 3. List Comprehension

- 리스트를 간단히 하는 방법

- List를 만들 수 있는 간단한 방법이 있습니다.

- `[표현식 for 요소 in sequence if 조건식 ]`

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [ ]:
cubic_list = []
for number in numbers:
    cubic_list.append(number ** 3)
print(a)

In [ ]:
# List Comprehension

In [ ]:
numbers = range(1,11)
cubic_list = [number**3 for number in numbers]
print(cubic_list)

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [ ]:
even_list=[]
for number in numbers:
    if number % 2:
        continue
    else:
        even_list.append(number)
print(even_list)

In [ ]:
even_list=[]
for number in numbers:
    if number % 2 == 0:
        even_list.append(number)
print(even_list)

In [ ]:
# List Comprehension

In [ ]:
even_list = [number for number in numbers if number % 2 == 0]
print(even_list)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
pair = []
for girl in girls:
    for boy in boys:
        pair.append((boy,girl))

print(pair)

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [ ]:
pair = [(boy,girl) for girl in girls for boy in boys]
print(pair)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
pytha = []
for i in range(1,50):
    for j in range(i+1, 50):
        for k in range (j+1, 50):
            if k ** 2 == i ** 2 + j ** 2:
                pytha.append((i, j, k))

print(pytha)

In [ ]:
result = []
for x in range(1,50):
    for y in range(x,50):
        for z in range(y, 50):
            if x **2 + y**2 == z**2:
                result.append((x,y,z))
print(result)
#어차피 같은 경우가 없기 때문에 +1 안해줘도 됩니다~~~

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [ ]:
pytha = [(i, j, k) for i in range(1,50) for j in range(i + 1, 50) for k in range(j + 1, 50) if k ** 2 == i ** 2 + j ** 2]
print(pytha)

In [ ]:
result = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if z **2 == x ** 2 + y ** 2 ]

print(result)

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [ ]:
words = 'Life is too short, you need python!'
sentence = [words.replace('a' and 'e' and 'i' and 'o' and 'u', '')]
print(sentence)

# 내가 한 건 안됨

In [ ]:
words = 'Life is too short, you need python!'
vowels = 'aeiou'

result = [char for char in words if char not in vowels]
print(''.join(result))

# 4. 딕셔너리 메소드 활용

## 4.1 추가 및 삭제

### .pop(key[, default])

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [ ]:
result = my_dict.pop('apple')

print(result)
print(my_dict)

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [ ]:
my_dict.pop('melon')

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

In [ ]:
my_dict.pop('melon',0)

### .update()

- 이미 존재하는 key가 있으면 값을 제공하는 key, value로 덮어씁니다. 
- 없다면 새로운 key-value pair를 추가합니다

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [ ]:
my_dict.update(apple='사과아')
print(my_dict)

In [ ]:
my_dict.update(peach='복숭아')
print(my_dict)

### .get(key[, default])

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# []를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [ ]:
my_dict['pineapple']

In [ ]:
# get을 사용해봅시다.

In [ ]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('pineapple', 0))

## 4.2 dictionary comprehension

- dictionary도 comprehension을 활용하여 만들 수 있습니다. 

- `{key:value for 요소 in sequnce if 조건식}`

In [ ]:
# dictionary comprehension

In [ ]:
cubic = {x: x**3 for x in range(1, 8)}
print(cubic)

In [ ]:
#우선순위가 있어도 붙여서 써 주세요
x = x*2 - 1
c = (a+b) * (a-b)

### dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
for x in dusts:
    print(x)

In [ ]:
 # 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
# 내 방법
dust = {x : dusts.get(x) for x in dusts if dusts.get(x) > 80}
print(dust)

In [ ]:
#선생님방법
over = {key: value for key, value in dusts.items() if value > 80}
print(over)

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.b

In [ ]:
translate = {key: '나쁨' if value > 80 else '보통' for key, value in dusts.items()}
print(translate)

#A if 조건 else B
#A if 조건 else B if 조건 else C if 조건~~~~~

In [ ]:
# elif 도 사용할 수 있습니다.

In [ ]:
translate = {key: '매우 나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}
print(translate)
#이게 진짜 조건 ㅍ현식임 위에껀 comprehension

# 5. 세트 메소드 활용

## 5.1 추가 및 삭제

### .add(elem)
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [ ]:
fruits.add('포도')
print(fruits)

In [ ]:
fruits.add('바나나')
print(fruits) #set은 중복을 허용하지 않으므로 중복값을 add해도 같은 결과가 나오게 된다.

### .update(*others)

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.
(for문으로 순회를 돌 수 있는 것)

In [ ]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [ ]:
fruits.update({'토마토', '토마토', '딸기'}, {'포도', '레몬'}) #*args이므로 여러개 넣어도 되고 tuple로 처리됨
print(fruits)
#set는 순서가 없습니다.

In [ ]:
# 만약에 이렇게 한다면..

In [ ]:
fruits.update('복숭아', '두리안')
print(fruits)

#문자열도 iterable하는데 각각으로 들어가게 됩니다.

In [ ]:
# 하지만 이건 오류가 납니다!

In [ ]:
fruits.update(123)
print(fruits) #int는 iterable하지 않아요  실제로 숫자는 for문 못 돌리게 됩니다.

### .remove(elem)

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [ ]:
fruits.remove('사과')
print (fruits)

In [ ]:
fruits.remove('애플')
print(fruits)

### .discard(elem)
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [ ]:
fruits.discard("포도")
fruits

In [ ]:
fruits.discard("수박")
fruits

### .pop()

임의의 원소를 제거해 "반환"합니다.
    비어있는 셋에 pop 할경우 알람이 옵니다.

In [ ]:
# pop을 사용해봅시다.
fruits = {"사과", "바나나", "수박", "아보카도"}

In [ ]:
result = fruits.pop()
print(result)
print(fruits)

##  .map(), .zip(), .filter()

### .map(function, iterable)

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [ ]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [ ]:
chars = map(str, numbers) #str은 스트링으로 바까줍니다
print(chars)

In [ ]:
word = ''.join(chars)
print(word)
print(type(word))

In [ ]:
# list comprehension

In [ ]:
word = ''.join([str(number) for number in numbers])
print(word)

#넘버 인자를 스트링으로 만들어 줍니다 그리고 조인을 사용해서 가져옵니다.

In [1]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [2]:
numbers = list(map(int, chars))
#int('1'), int('2') int ('3')
print(numbers)

[1, 2, 3]

In [ ]:
# list comprehension

In [3]:
number = [int(char) for char in chars]
print(number)

[1, 2, 3]

* map의 첫번째 인자로 들어가는 function은 사용자 정의 함수도 가능합니다.

In [4]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [5]:
numbers = [1, 2, 3]
list(map(cube, numbers))

[1, 8, 27]

### .zip(*iterables)
* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [10]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [12]:
# dict comprehension + for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
{girl : boy for boy in boys for girl in girls} #내가 푼 것 딕셔너리의 키는 중복되지않기때문에..

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [11]:
print(list(zip(girls, boys)))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [ ]:
# zip을 사용하면 조금 더 편하게 조작할 수 있습니다.

In [14]:
{girl : boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [15]:
justin = '123'
zzulu = '567'
#스트링 iterable하다 zip은 iterable한거 넣을 수 있다.
for digit_a, digit_b in zip(justin, zzulu):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [18]:
num_1 = [1, 2, 3]
num_2 = ['1', '2']

list(zip(num_1, num_2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [20]:
from itertools import zip_longest
list(zip_longest(num_1, num_2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### .filter(function, iterable)

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [23]:
def even(n):
    if n%2 == 0:
        return n

In [ ]:
# filter를 사용해봅시다.

In [24]:
numbers = [1, 2, 3, 4, 5, 2, 2]
list(filter(even, numbers))

[2, 4, 2, 2]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [25]:
result = {number for number in numbers if even(number)}
print(result)
#set이기때문에 중복 삭제

{2, 4}